:root {
  --font-slow: "Outfit", sans-serif;
  --font-fast: "Audiowide", sans-serif;
  --font-number: "JetBrains Mono", "SF Mono", "Consolas", monospace;

  /* Glass – Background */
  
  --bg-glass: rgba(255,255,255,.06);
  --bg-glass-hover: rgba(255,255,255,.07);
  --bg-glass-hover-transition: background .2s ease-out;
  
  /* Glass – Border */
  --border-glass: 1px solid rgba(255,255,255,.06);
  --border-glass-hover: 1px solid rgba(255,255,255,.1);

  /* Glass – Blur */
  --glass-blur: blur(12px);

  /* Glass – Click */
  --click-scale-transition: .2s ease;
  --click-scale: scale(.99);

  /* Other */
  --radius: 12px;
  --shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
